* {
  font-family: "Space Mono", monospace;
  color: #EAF2EF;
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: linear-gradient(45deg, #FB0203 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #FB0203 75%), linear-gradient(45deg, transparent 75%, #FB0203 75%), linear-gradient(45deg, #FB0203 25%, #C60021 25%);
  background-size: 100px 100px;
  background-position: 0 0, 0 0, -50px -50px, 50px 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.background2 {
  background-image: linear-gradient(45deg, #C60021 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #C60021 75%), linear-gradient(45deg, transparent 75%, #C60021 75%), linear-gradient(45deg, #C60021 25%, #FB0203 25%);
  background-size: 100px 100px;
  background-position: 0 0, 0 0, -50px -50px, 50px 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
}

main {
  z-index: 3;
  border-radius: 2%;
  height: 640px;
  width: 360px;
  background-color: #E00413;
  box-shadow: 0 0 50px 20px #C60021;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .screen {
  overflow: hidden;
  width: 85%;
  height: 30%;
  border-radius: 2%;
  background-color: #FB0203;
  color: #EAF2EF;
  box-shadow: 0 0 5px 1px #C60021;
  text-align: end;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main .keypad {
  width: 85%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
main .keypad #equals {
  grid-column-end: span 2;
}
main .keypad button {
  border: 0;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 1px #C60021;
  color: #EAF2EF;
  box-shadow: 0 5px 5px 1px #C60021;
}
main .keypad #ac,
main .keypad #equals {
  background-color: #C60021;
}
main .keypad .digit {
  background-color: #E00413;
}
main .keypad .operator,
main .keypad #ans {
  background-color: #FB0203;
}
main .keypad button:hover {
  cursor: pointer;
}
main .keypad button:active {
  background-color: #C60021;
  transform: translateY(4px);
  border: 0;
}